{% extends 'framework/base.html' %}

{% load static %}

{% block content %}

	<div class="row">
		<div class="col-4">
			<h1 class="text-center">Upload your file</h1>

			

			<form action="" id="post-form" method=POST enctype="multipart/form-data">
				{% csrf_token %}

				<div class="row">
				{% if tables %}
	    			{{tables|safe}}
	  			{% endif %}
				</div>

				<input type="hidden" name="df" value="valor!"/>
				<button type = "submit" class="btn btn-primary">Read Table</button>

			</form>

			
		</div>

	</div>
	</br>
	
	
		
  	


<script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>

<script>
	$(document).ready(function(){
		$(document).on("dblclick",".editable",function(){
			var value=$(this).text();
			var input ="<input type='text' class='input-data' value='"+value+"' class='form-control'>";
			$(this).html(input);
			$(this).removeClass("editable")
		})
	});

	$(document).on("blur",".input-data",function()
		{
			var value = $(this).val();
			var td = $(this).parent("td");
			$(this).remove();
			td.html(value);
			console.log("esta funcionando");
		});

	$(document).on("keypress",".input-data",function(e)
		{
			var key = e.which;
			if (key == 13)
			{
				var value = $(this).val();
				var td = $(this).parent("td");
				$(this).remove();
				td.html(value);
				td.addClass("editable");
			}
			
			console.log("esta funcionando2");
		});


	function read_table()
	{
		var table = document.getElementById("time_dis");
		var data =[];
		var headers = [];
		for (var i = 0, row; row = table.rows[i]; i++) {
		   for (var j = 0, col; col = row.cells[j]; j++) {

		   	  var rowData = {};

		   	  if (i==0){
		   	  	headers[j]=col.childNodes[0].nodeValue;
		   	  } else {
		   	  	rowData[headers[j]]=col.childNodes[0].nodeValue;
		   	  	data.push(rowData);
		   	  }	
		      
		   }

		}
		$("#df").val()=data;
		return data;
	}



	$("#post-form").on("click","#submit",function (e)
		{
		
		e.preventDefault();
		var data =read_table();
		$.ajax({
                type:'POST',
                url:'{% url "edit" %}',
                data:{'data':JSON.stringify(data)},
                success: function(){}
            })


	});

	

</script>

{% endblock %}
