{% extends 'framework/base.html' %}

{% load static %}

{% block content %}

	<div class="row">
		<div class="col-4">
			<h1 class="text-center">Upload your file</h1>
			<form action="" method=POST enctype="multipart/form-data">
				{% csrf_token %}

				
				{{form.as_p}}
				<button type="submit" class="btn btn-primary">Upload</button>
			

			</form>
		</div>

	</div>
	</br>
	
	<div class="row">
		{% if tables %}
	    	{{tables|safe}}
	  	{% endif %}
  	</div>




{% endblock %}

<script>
	$(document).ready(function(){
		$(document).on("click",".editable",function(){
			var value=$(this).text();
			var input ="<input type='text' value='"+value+"' class='form-control'>";
			$(this).html(input);
		})
	});
</script>